@import 'reset';

// Variables

// Font styling 

$fontSize: 20px;
$fontColor: white;
$fontFamily: Helvetica, sans-serif;

// Input styling 

$inputWidth: 220px;
$inputHeight: 50px;
$paddingLeft: 10px;
$inputFontSize: 30px;
$inputColor: #ffa2a2;

// Calculator

$calcWidth: 17%;
$calcBorderRadius: 4px;
$calcPadding: 40px 38px 40px 38px;
$marginTop: 10%;
$marginLeft: 38%;

// Buttons styling 

$buttonWidth: 52px;
$buttonHeight: 35px;

$theZeroWidth: 113px;
$zeroPaddingRight: 65px;

// Colors

$backgroundColor: linear-gradient(135deg, #69b5b9 0%, #daf0ca 100%);
$calculatorColor: #FFFAFA;

$buttonColor: #91dfcf;
$hoverButtonColor: #64c4b1;
$operatorsColor: #ff5554;
$hoverOperatorsColor: #eb2d2d;
$otherColor: #79cdcf;
$hoverOtherColor: #4fabaf;

$buttonsPadding: 5px;
$margin: 6px;
$borderRadius: 3px;
$boxShadow: 0px 4px rgba(0, 0, 0, 0.3); 



/* Mixins */

@mixin buttonStyling() {

	    width: $buttonWidth;
		height: $buttonHeight;
		padding: $buttonsPadding;

		border-radius: $borderRadius;
		box-shadow: $boxShadow;
		margin-top: $margin;

		font-size: $fontSize;
		color: $fontColor;
}

@mixin calculatorStyling () {

		background: $calculatorColor;
		box-shadow: $boxShadow;
		border-radius: $calcBorderRadius;
		width: $calcWidth;
		padding: $calcPadding;		
		margin-top: $marginTop;
		margin-left: $marginLeft;
}


body {
	 	font-family: $fontFamily;
	 	background: $backgroundColor; 	
	 	height: 100vh;	 	
}

div#calculator {
		@include calculatorStyling();
				
}

#theInput {
		width: $inputWidth;
		height: $inputHeight;
		background-color: $inputColor;
		padding-left: $paddingLeft;
		font-size: $inputFontSize;
		color: $fontColor;
		border: inset 4px;
		outline: none;
		margin-bottom: 15px;
}

button {
		@include buttonStyling();
}

button.digits {

		@extend button;
		background-color: $buttonColor;

			&#theZero { width: $theZeroWidth; 
						padding-right: $zeroPaddingRight;
						}

			&:hover { background-color: $hoverButtonColor; } // the & is very important here

				

} //.digits	

button.operators {

		@extend button;
		background-color: $operatorsColor;

			&:hover { background-color: $hoverOperatorsColor; } 		

}

button.other {

		@extend button;
		background-color: $otherColor;

			&:hover { background-color: $hoverOtherColor; } 		

}


