@import 'reset';

// General

/* Font styling */

$fontSize: 20px;
$fontColor: white;
$fontFamily: Helvetica, sans-serif;

/* Input styling */

$inputWidth: 220px;
$inputHeight: 50px;
$paddingLeft: 10px;
$inputFontSize: 30px;
$inputColor: #ffa2a2;

/* Buttons styling */

$buttonWidth: 52px;
$buttonHeight: 35px;

// Colors

$buttonColor: #91dfcf;
$hoverButtonColor: #64c4b1;
$operatorsColor: #ff5554;
$hoverOperatorsColor: #eb2d2d;
$otherColor: #79cdcf;
$hoverOtherColor: #4fabaf;

$buttonsPadding: 5px;
$margin: 6px;
$borderRadius: 3px;
$boxShadow: 0px 4px rgba(0, 0, 0, 0.3); 

/* Mixins */

@mixin buttonStyling() {

	    width: $buttonWidth;
		height: $buttonHeight;
		padding: $buttonsPadding;

		border-radius: $borderRadius;
		box-shadow: $boxShadow;
		margin-top: $margin;

		font-size: $fontSize;
		color: $fontColor;
}


body {
	 	font-family: $fontFamily;

}

#theInput {
		width: $inputWidth;
		height: $inputHeight;
		background-color: $inputColor;
		padding-left: $paddingLeft;
		font-size: $inputFontSize;
		color: $fontColor;
}

button {
		@include buttonStyling();
}

button.digits {

		//@include buttonStyling();
		@extend button;
		background-color: $buttonColor;

	&:hover { background-color: $hoverButtonColor; } // the & is very important here

} //.digits	

button.operators {

		//@include buttonStyling();
		@extend button;
		background-color: $operatorsColor;

	&:hover { background-color: $hoverOperatorsColor; } 		

}

button.other {

		//@include buttonStyling();
		@extend button;
		background-color: $otherColor;

	&:hover { background-color: $hoverOtherColor; } 		

}


