button, button.digits, button.operators, button.other {
  background: none;
  border: none;
  margin: 2px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  width: auto;
  overflow: visible; }

/* Font styling */
/* Input styling */
/* Buttons styling */
/* Mixins */
body {
  font-family: Helvetica, sans-serif; }

#theInput {
  width: 220px;
  height: 50px;
  background-color: #ffa2a2;
  padding-left: 10px;
  font-size: 30px;
  color: white; }

button, button.digits, button.operators, button.other {
  width: 52px;
  height: 35px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.3);
  margin-top: 6px;
  font-size: 20px;
  color: white; }

button.digits {
  background-color: #91dfcf; }
  button.digits:hover {
    background-color: #64c4b1; }

button.operators {
  background-color: #ff5554; }
  button.operators:hover {
    background-color: #eb2d2d; }

button.other {
  background-color: #79cdcf; }
  button.other:hover {
    background-color: #4fabaf; }
